:root {
    --color-background: #E5E5E5;
    --color-background-nav: #FFFFFF;
    --color-icon-botton: #6D2080;
    --color-icon-page: #8D8D8D;
    --color-text-botton: #6D2080;
    --color-text-seach: #8D8D8D;
    --color-text-select: #02AE99;
    --color-white: #FFFFFF;
    --color-grey-dark: #333;
    --color-grey-mid: #555;
    --color-grey-ligth: #777;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}